In [6]:
import pandas as pd
student_data = pd.read_csv('file_students_perform.csv', sep=',')

In [7]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [9]:
student_data['writing score'][155]

88

In [10]:
student_data['math score'].mean()

66.089

In [12]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [13]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [31]:
student_data["parental level of education"].value_counts(normalize=True)*100

parental level of education
some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: proportion, dtype: float64

In [34]:
mask1 = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mask2 = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
mask1-mask2

-5.827586206896555