In [116]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['population_density'] = countries_df['population'] * 1000000 / countries_df['square']
round(countries_df['population_density'].mean(), 2)

84.93

In [117]:
nlo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')

In [118]:
nlo_data['Time'] = pd.to_datetime(nlo_data['Time'])
nlo_data['Time'].dt.year.mode()[0]

1999

In [119]:
nlo_data['Date'] = nlo_data['Time'].dt.date
per = nlo_data[nlo_data['State'] == 'NV']['Date'].diff()
per = per.dt.days.mean()
per

68.92932862190813

In [120]:
# Преобразование строк в количество месяцев
def get_experience(arg):
    number = arg.split()[2]*12 + arg.split()[]

SyntaxError: invalid syntax (743013014.py, line 3)

In [ ]:
# Преобразование количества месяцев в Series в понятные строки
import pandas as pd
def get_experience(arg):
    year = None
    month = None
    years = arg // 12
    months = round(arg % 12)

    if years == 1:
        year = 'год'
    elif years == 2 or years == 3:
        year = 'года'
    else:
        year = 'лет'
        
    if months == 0:
        return 'Опыт работы {} {}'.format(years, year)
    else:
        if months == 1:
            month = 'месяц'
        elif months == 2 or months == 3:
            month = 'месяца'
        else:
            month = 'месяцев'
    if years == 0:
        return 'Опыт работы {} {}'.format(months, month)
    return 'Опыт работы {} {} {} {}'.format(years, year, months, month)

serie = pd.Series({0:99, 1:41, 2:21, 3:3, 4:72})
print(serie)
serie = serie.apply(get_experience)
print(serie)

0    99
1    41
2    21
3     3
4    72
dtype: int64
0      Опыт работы 8 лет 3 месяца
1    Опыт работы 3 года 5 месяцев
2     Опыт работы 1 год 9 месяцев
3            Опыт работы 3 месяца
4               Опыт работы 6 лет
dtype: object

In [ ]:
import pandas as pd
bikesport_0 = pd.read_csv('bikesport.csv', sep=',')
bikesport = bikesport_0.copy()
bikesport.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [ ]:
bikesport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [ ]:
bikesport['bikeid'].mode()[0]

33887

In [ ]:
# Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? 
# В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.
mode_date = bikesport['usertype'].mode()[0]
count_mode = bikesport[bikesport['usertype'] == mode_date].shape[0]
print(round(count_mode / bikesport.shape[0], 2))

0.77

In [ ]:
bikesport[bikesport['gender'] == 1].shape

(183582, 14)

In [ ]:
bikesport['birth year'].max()

2002

In [ ]:
bikesport.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [ ]:
bikesport['starttime'] = pd.to_datetime(bikesport['starttime'], dayfirst=True)
bikesport['starttime'].dt.year[0] - bikesport['birth year'].max()

16

In [ ]:
bikesport['start station id'].nunique() - bikesport['end station id'].nunique()

-6

In [ ]:
bikesport['end station id'][0]

366.0

In [ ]:
bikesport = bikesport.drop(['start station id'], axis=1)
bikesport = bikesport.drop(['end station id'], axis=1)

KeyError: "['start station id'] not found in axis"

In [ ]:
bikesport.columns.shape[0]

12

In [ ]:
bikesport['age'] = 2018 - bikesport['birth year']
bikesport = bikesport.drop(['birth year'], axis=1)

KeyError: 'birth year'

In [ ]:
bikesport[bikesport['age'] > 60].shape[0]

KeyError: 'age'

In [122]:
bikesport['stoptime'] = pd.to_datetime(bikesport['stoptime'])
bikesport['starttime'] = pd.to_datetime(bikesport['starttime'])
bikesport['trip duration'] = (bikesport['stoptime'] - bikesport['starttime'])
bikesport.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

In [133]:
# Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась 
# в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, 
# сколько поездок начиналось в выходные.
day = bikesport['starttime'].dt.dayofweek
bikesport['weekend'] = day.apply(lambda x: 1 if x == 5 or x == 6 else 0)
bikesport['weekend'].sum()

115135

In [135]:
# Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
# поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
# поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
# поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
# поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
# Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'

bikesport['time_of_day'] = bikesport['starttime'].dt.hour.apply(get_time_of_day)
a = bikesport[bikesport['time_of_day'] == 'day'].shape[0]
b = bikesport[bikesport['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9